*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*
paleta de colores

#
#
#
#

tipografias


*/


header{
    background-color: #1D3245;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header a img{
    margin-left: 7.1875rem;
    width: 40%;
}

ul{
    list-style: none;
    display: flex;
}

.navbar li{
    margin-right: 8.4375rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: small;
}

main {
    background-color: rgb(243, 243, 243);
}

h1 {
    font-size: 1.6875rem;
}

h2 {
    font-size: 1.25rem;
}

.section1 {
    background-color: #1D3245;
    color: white;
}

.section1 p {
    color: white;
}

p {
    color: black;
}

img {
    width: 100%;
}

.servicios0 img {
    width: 10%;
}

.section-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,18.75rem);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "servicios0 servicios0 servicios0 servicios0"
    "servicios1 servicios2 servicios3 servicios4"
    ;
    gap: 1.25rem;
    margin-top: 9.375rem;
}

.section-grid .servicios0{
    grid-area: servicios0;
}
.section-grid .servicios1{
    grid-area: servicios1;
    margin-top: .9375rem;
    background-color: white
}
.section-grid .servicios2{
    grid-area: servicios2;
    margin-top: .9375rem;
    background-color: white
}
.section-grid .servicios3{
    grid-area: servicios3;
    margin-top: .9375rem;
    background-color: white
}
.section-grid .servicios4{
    grid-area: servicios4;
    margin-top: .9375rem;
    background-color: white
}


.serviciosSection1{
    display: flex;
}
.divServicios0{
    margin-left: 1.875rem;
    margin-top: .625rem;
}
.divServicios0 h1{
    margin-left: 1.875rem;
    margin-top: .625rem;
    font-size: 1.6875rem;
}
.divServicios0 h2{
    margin-left: 1.875rem;
    margin-top: .625rem;
    font-size: 1.25rem;
}
.divServicios0 p{
    margin-left: 1.875rem;
    margin-top: .125rem;
}

.servicios1 h1 {
    font-size: 1.25rem;
    margin-top: .625rem;
    margin-left: .9375rem;
}
.servicios1 p {
    margin-left: .9375rem;
}
.servicios2 h1 {
    font-size: 1.25rem;
    margin-top: .625rem;
    margin-left: .9375rem;
}
.servicios2 p {
    margin-left: .9375rem;
}
.servicios3 h1 {
    font-size: 1.25rem;
    margin-top: .625rem;
    margin-left: .9375rem;
}
.servicios3 p {
    margin-left: .9375rem;
}
.servicios4 h1 {
    font-size: 1.25rem;
    margin-top: .625rem;
    margin-left: .9375rem;
}
.servicios4 p {
    margin-left: .9375rem;
}

.servicios1 img:hover{
    filter: drop-shadow(2px 2px 5px #1D3245);
}
.servicios2 img:hover{
    filter: drop-shadow(2px 2px 5px #1D3245);
}
.servicios3 img:hover{
    filter: drop-shadow(2px 2px 5px #1D3245);
}
.servicios4 img:hover{
    filter: drop-shadow(2px 2px 5px #1D3245);
}
.section1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,5rem) ;
}

.section1 h1{
    grid-column:1/3;
    grid-row:1/2 ;
    align-self: center;
    margin-left: 7.8125rem;
    margin-top: 5rem;
    margin-inline-end: 100%;
    font-size: 1.5625rem;

}

.section1 p{
    grid-column:1/3;
    grid-row:2/3 ;
    align-self: center;
    margin-left: 7.8125rem;
    margin-top: 1.25rem;
    font-size: .625rem;
    
}

.section1 .img1{
    grid-column:1/6 ;
    grid-row:3/6 ;
    width: 87%;
    justify-self: center;
    align-self: center;
    margin-top: 7.5rem;

}

.nuevoServicio{
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 7.5rem;

}
.nuevoServicio img{
    width: 38.75rem;
    margin-right: 8.4375rem;
}
.nuevoServicio h1{
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 7.8125rem;
}
.nuevoServicio p{
    margin-left: 7.8125rem;
}
.nuevoServicio button{
    margin-left: 7.8125rem;
}

.porQueElegirnos {
    display: flex;
    background-color: rgb(243, 243, 243);
    justify-content: space-between;
    margin-top: 0;
}
.porQueElegirnos img{
    width: 38.75rem;
    margin-left: 8.4375rem;
}
.porQueElegirnos h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}

.porQueElegirnos p {
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}

.porQueElegirnos button {
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}

.vehiculosCertificados{
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 0

}
.vehiculosCertificados img{
    width: 38.75rem;
    margin-right: 8.4375rem;
}
.vehiculosCertificados h1{
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 7.8125rem;
}
.vehiculosCertificados p {
    margin-left: 7.8125rem;
    margin-right: 1.5625rem;
}
.vehiculosCertificados button{
    margin-left: 7.8125rem;
}

.equipamientosAdaptados {
    display: flex;
    background-color: rgb(243, 243, 243);
    justify-content: space-between;
    margin-top: 0;
}
.equipamientosAdaptados img{
    width: 38.75rem;
    margin-left: 8.4375rem;
}
.equipamientosAdaptados h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}

.equipamientosAdaptados p {
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}

.equipamientosAdaptados button {
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}

.zonas{
    background-image: url(../assets/img/bgzonas.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    margin-top: 1.875rem;
    padding: 10.625rem 10.625rem 10.625rem;
}
.zonas h1 {
    font-size: 1.6875rem;
    margin-left: 0;
}










/*FOOTER*/
.sectionFooter{
    background-color: #1D3245;
    color: white;
    margin-top: 25rem;
    padding: 3.125rem 8.75rem;
}
.divFooter{
    display: flex;
    justify-content: space-between;
}
.formFooter p {
    color: white;
}
.buttonFooter{
    background-color: #1D3245;
    color: white;
    border-radius: 10%;
}
.finFooter p{
    color: white;
}
.aFooter{
    text-decoration: none;
    color: white;
}


/*html servicios*/
main{
    background-color: rgb(243, 243, 243);
}
.imgFlota{
    width: 300%;
}
.tituloPinc{
    width: 83%;
    margin-left: 7.8125rem;
    margin-top: 6.25rem;
}
.tituloPinc h1{
    font-size: 1.6875rem;
}
.tituloPinc h2{
    font-size: 1.25rem;
}

/*cotizador*/
.formCotizador {
    background-color: white;
    filter: drop-shadow(2px 2px 10px lightgray);
    width: 83%;
    justify-self: center;
    margin-top: 3.125rem;
    padding-top: 1.875rem;
}
.formCotizador legend{
    margin-left: 11.875rem;
}
.cotizador{
    display: flex;
    justify-self: center;
}
.cotizador button{
    margin-left: 1.875rem;
    background-color: #1D3245;
    color: white;
    padding: .625rem .625rem .625rem .625rem;
    border-radius: 5%;
}

.cotizadorCol2{
    margin-left: 6.25rem;

} 
.cotizadorCol3{
    margin-left: 6.25rem;
} 

/*seccion gama*/
.gamaHtmlServicios h1 {
    font-size: 1.6875rem;
    margin-left: 7.8125rem;
    margin-top: 6.25rem;
}

.camio1 {
    display: flex;
    background-color: rgb(243, 243, 243);
}

.camio1 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio1 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio1 p {
    margin-right: 7.8125rem;
}

.divCamio1 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio2 {
    display: flex;
    background-color: white;
}

.camio2 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio2 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio2 p {
    margin-right: 7.8125rem;
}

.divCamio2 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio3 {
    display: flex;
    background-color: rgb(243, 243, 243);
}

.camio3 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio3 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio3 p {
    margin-right: 7.8125rem;
}

.divCamio3 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio4 {
    display: flex;
    background-color: white;
}

.camio4 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio4 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio4 p {
    margin-right: 7.8125rem;
}

.divCamio4 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio5 {
    display: flex;
    background-color: rgb(243, 243, 243);
}

.camio5 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio5 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio5 p {
    margin-right: 7.8125rem;
}

.divCamio5 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

/*html contactos*/
.titulosContactos{
    background-color: #1D3245;
    color: white;

}
.contactate{
    display: flex;
}

.titulosContactos h1{
    margin-left: 7.8125rem;
    font-size: 1.6875rem;
    padding-top: 9.375rem;
}
.titulosContactos p{
    margin-left: 7.8125rem;
    margin-right: 8.4375rem;
    color: white;
}


.formContacto{
    margin-left: 7.8125rem;
    margin-top: 1.5625rem;
}
.formContacto h2{
    margin-top: 9.375rem;
    font-size: 1.25rem;
}
.formContacto legend{
    font-size: 1.25rem;
}
.contactateCol2{
    margin-left: 9.375rem;
}
.form-label{
    display: flex;
}
.selectForm{
    display: flex;
}



.contactosTelefonos{
    margin-left: 7.8125rem;
    margin-top: 6.25rem;
}
.contactosTelefonos h1{
    font-size: 1.6875rem;
}

.contactosTelefonos h2{
    font-size: 1.25rem;
}
.tel{
    margin-top: 1.875rem;
}































/*RESPONSIVE*/
/*1024*/

@media(max-width:1024px) {

    header {
        justify-content: space-around;
    }

    .navbar li {
        margin-right: 3.125rem;
    }

    header a img {
        margin-left: 2.5rem;
        width: 30%;
    }
    .section1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: .3125rem repeat(4,5rem) ;
}
    .section1 h1{
    margin-left: 6.25rem;
    margin-top: 9.375rem;

}

.section1 p{
    margin-left: 6.25rem;
    margin-top: 9.375rem;

}

.section1 .img1{
    width: 84%;
    justify-self: center;
    align-self: center;
    margin-top: 8.125rem;

}

.servicios0 img {
    width: 20%;
}
.section-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,18.75rem);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "servicios0 servicios0"
    "servicios1 servicios2"
    "servicios3 servicios4"
    ;
    gap: 1.25rem;
    margin-top: 9.375rem;
}
.nuevoServicio img{
    width: 25rem;
    margin-right: 6.875rem
}

.porQueElegirnos img{
    width: 25rem;
    margin-left: 6.875rem;
}
.vehiculosCertificados img{
    width: 25rem;
    margin-right: 6.875rem
}
.equipamientosAdaptados img{
    width: 25rem;
    margin-left: 6.875rem;
}
.nuevoServicio h1{
    font-size: 1.6875rem;
    margin-top: 2.5rem;
    margin-left: 7.8125rem;
}
.porQueElegirnos h1 {
    font-size: 1.6875rem;
    margin-top: 1.25rem;
    margin-right: 7.8125rem;
    margin-left: 1.875rem;
}
.vehiculosCertificados h1{
    font-size: 1.6875rem;
    margin-top: 1.875rem;
    margin-left: 7.8125rem;
}
.equipamientosAdaptados h1 {
    font-size: 1.6875rem;
    margin-top: 3.75rem;
    margin-right: 7.8125rem;
    margin-left: 1.5625rem;
}


}

/*768*/

@media(max-width:768px){

.nuevoServicio img{
    width: 19.0625rem;
    margin-right: 5rem;
}
.nuevoServicio h1{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 5rem;
}
.nuevoServicio p{
    margin-left: 5rem;
    margin-right: .625rem;
    font-size: .75rem;
}
.nuevoServicio button{
    margin-left: 5rem;
}

.porQueElegirnos img{
    width: 19.0625rem;
    margin-left: 5rem;
}
.porQueElegirnos h1 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-right: 5rem;
    margin-left: .625rem;
}

.porQueElegirnos p {
    margin-right: 5rem;
    margin-left: .625rem;
    font-size: .75rem;
}

.porQueElegirnos button {
    margin-right: 7.8125rem;
    margin-left: .625rem;
}

.vehiculosCertificados img{
    width: 19.0625rem;
    margin-right: 5rem;
}
.vehiculosCertificados h1{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 5rem;
}
.vehiculosCertificados p {
    margin-left: 5rem;
    margin-right: .625rem;
    font-size: .75rem;
}
.vehiculosCertificados button{
    margin-left: 5rem;
}

.equipamientosAdaptados img{
    width: 19.0625rem;
    margin-left: 5rem;
}
.equipamientosAdaptados h1 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    margin-right: 5rem;
    margin-left: .625rem;
}

.equipamientosAdaptados p {
    margin-right: 5rem;
    margin-left: .625rem;
    font-size: .75rem;
}

.equipamientosAdaptados button {
    margin-right: 7.8125rem;
    margin-left: .625rem;
}

.zonas{
    margin-top: .625rem;
    padding: 5rem 5rem 5rem 5rem;
}
.zonas h1 {
    font-size: 1.25rem;
    margin-left: 0;
}
.zonas p {
    font-size: .75rem;
}


}

/*320*/

@media(max-width:320px){
    .section1{
        display: none;
    }
    header{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        
    }
    .servicios0 img {
    width: 20%;
}
.section-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,12.5rem);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "servicios0 servicios0"
    "servicios1 servicios2"
    "servicios3 servicios4"
    ;
    gap: 1.25rem;
    margin-top: 3.125rem;
}

.nuevoServicio img{
    width: 18.75rem;
    margin-right: 5rem;
}
.nuevoServicio h1{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 5rem;
    margin-right: 1.25rem;
}
.nuevoServicio p{
    display: none;
}
.nuevoServicio button{
    margin-left: 5rem;
    margin-right: 1.25rem;
}

.porQueElegirnos img{
    width: 18.75rem;
    margin-left: 5rem;
}
.porQueElegirnos h1 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-right: 5rem;
    margin-left: 1.25rem;
}

.porQueElegirnos p {
    display: none;
}

.porQueElegirnos button {
    margin-right: 7.8125rem;
    margin-left: 1.25rem;
}

.vehiculosCertificados img{
    width: 18.75rem;
    margin-right: 5rem;
}
.vehiculosCertificados h1{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 5rem;
    margin-right: 1.25rem;
}
.vehiculosCertificados p {
    display: none;
}
.vehiculosCertificados button{
    margin-left: 5rem;
}

.equipamientosAdaptados img{
    width: 18.75rem;
    margin-left: 5rem;
}
.equipamientosAdaptados h1 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    margin-right: 5rem;
    margin-left: 1.25rem;
}

.equipamientosAdaptados p {
    display: none;
}

.equipamientosAdaptados button {
    margin-right: 7.8125rem;
    margin-left: 1.25rem;
}

.zonas{
    margin-top: .625rem;
    padding: 5rem 5rem 5rem 5rem;
}
.zonas h1 {
    font-size: 1.25rem;
    margin-left: 0;
}
.zonas p {
    font-size: .75rem;
}

.divFooterCompleta{
    margin-left: 9.375rem;
}





}