/*FOOTER*/
.sectionFooter{
    background-color: #1D3245;
    color: white;
    margin-top: 25rem;
    padding: 3.125rem 8.75rem;
}
.divFooter{
    display: flex;
    justify-content: space-between;
}
.formFooter p {
    color: white;
}
.buttonFooter{
    background-color: #1D3245;
    color: white;
    border-radius: 10%;
}
.finFooter p{
    color: white;
}
.aFooter{
    text-decoration: none;
    color: white;
}