/*html servicios*/
main{
    background-color: rgb(243, 243, 243);
}
.serviciosHtml p{
    padding-top: 1.25rem;

}
.serviciosHtml img{
    width: 300%;
}
.tituloPinc{
    width: 83%;
    margin-left: 7.8125rem;
    margin-top: 6.25rem;
}
.tituloPinc h1{
    font-size: 1.6875rem;
}
.tituloPinc h2{
    font-size: 1.25rem;
}

/*cotizador*/
.formCotizador {
    background-color: white;
    filter: drop-shadow(2px 2px 10px lightgray);
    width: 83%;
    justify-self: center;
    margin-top: 3.125rem;
    padding-top: 1.875rem;
    border-radius: .3125rem;
}
.formCotizador legend{
    margin-left: 11.875rem;
}
.cotizador{
    display: flex;
    justify-self: center;
}

.cotizador button{
    background-color: #1D3245;
    color: white;
    padding: .625rem .625rem;
    border-radius: 5%;
}

.cotizadorCol2{
    margin-left: 9.375rem;

} 
.cotizadorCol3{
    margin-left: 9.375rem;
} 

/*seccion gama*/
.gamaHtmlServicios h1 {
    font-size: 1.6875rem;
    margin-left: 7.8125rem;
    margin-top: 6.25rem;
}

.camio1 {
    display: flex;
    background-color: rgb(243, 243, 243);
}

.camio1 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio1 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio1 p {
    margin-right: 7.8125rem;
}

.divCamio1 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio2 {
    display: flex;
    background-color: white;
}

.camio2 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio2 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio2 p {
    margin-right: 7.8125rem;
}

.divCamio2 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio3 {
    display: flex;
    background-color: rgb(243, 243, 243);
}

.camio3 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio3 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio3 p {
    margin-right: 7.8125rem;
}

.divCamio3 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio4 {
    display: flex;
    background-color: white;
}

.camio4 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio4 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio4 p {
    margin-right: 7.8125rem;
}

.divCamio4 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}

.camio5 {
    display: flex;
    background-color: rgb(243, 243, 243);
}

.camio5 img {
    width: 38.75rem;
    margin-left: 8.4375rem;
}

.divCamio5 h1 {
    font-size: 1.6875rem;
    margin-top: 7.5rem;
    margin-left: 0;
}

.divCamio5 p {
    margin-right: 7.8125rem;
}

.divCamio5 button {
    margin-right: 7.8125rem;
    border-radius: 10%;
    padding: .3125rem .3125rem .3125rem .3125rem;
    background-color: #1D3245;
    color: white;
}