
.sectionNosotros h1 {
    font-size: 1.6875rem;
    margin-left: 7.8125rem;
    padding-top: 3.125rem;
}

.sectionNosotros p {
    margin-left: 7.8125rem;
    margin-right: 7.8125rem;
}

.sectionNosotros h2 {
    font-size: 1.25rem;
    margin-left: 7.8125rem;
    padding-top: 3.125rem;

}