header {
    background-color: #1D3245;
}
.logo{
    width: 40%;
    margin-left: 6.25rem;
}

.ulNavbar {
    li {
        a {
            color: white;
            margin-left: 3.125rem;
            text-decoration: none;
        }
    }
}

.buttonclass{
    width: 1.25rem;
    height: 1.25rem;
}
